<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="table-responsive pt-3">
              <table class="table table-striped project-orders-table">
               <h4>User Querries and wishes</h4>

                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                    </tr>
                    {% for i in usr %} 
                    <tr> 
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.subject}}</td>
                        <td>{{i.message}}</td>
                        <td>
                            <a href="usrcontactdelete/{{i.id}}">
                                <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                                    Delete
                                    <i class="typcn typcn-delete-outline btn-icon-append"></i>                          
                                </button>
                            </a>
                        </td>
                    </tr> 
                    {% endfor %}  
                </table>
</body>
</html>
{% endblock %}